<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seperate FAQs accordion</title>
    <link rel="stylesheet" href="../../src/styles.css">
</head>
<body class="bg-gray-200 flex justify-center items-center h-screen relative dark:bg-black">
    <button onclick="changeTheme('code-preview-{{ component.id }}');" aria-label="dark mode button"  class="transition-colors  focus:bg-gray-400 duration-200 ease-in-out p-1 text-gray-200 bg-gray-600 rounded-md hover:text-gray-700 hover:bg-gray-400 absolute top-2 right-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 dark-icon"><path  stroke-linecap="round"  stroke-linejoin="round"  stroke-width="2"  d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 light-icon hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
    </button>
    
    <!--COMPONENT START-->

    <div class="px-4 py-16 mx-auto sm:max-w-xl md:px-24 lg:px-8 lg:py-20">
        <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
        
          <div class="space-y-4">

            <div class="border rounded shadow-lg">
              <button type="button" aria-label="Open item" title="Open item" class="flex flex-col items-center justify-between w-full p-4 focus:outline-none group bg-gray-100 rounded dark:bg-gray-700">
                <div class="flex items-start gap-2 justify-between">
                    <h3 class="text-base sm:text-lg text-left dark:text-gray-100 text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum?</h3>
                    <svg viewBox="0 0 24 24" class="w-3 min-w-[10px] text-gray-900 dark:text-gray-100 transition-transform duration-300 transform group-focus:rotate-180">
                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                    </svg>
                </div>
                
                <div class="text-left hidden group-focus:flex mt-4">
                    <p class="text-gray-700 dark:text-gray-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum officia ducimus vitae perferendis unde beatae. Pariatur amet perspiciatis recusandae veniam cumque magnam voluptatibus, laborum ut.</p>
                </div>
              </button>
            </div>

            <div class="border rounded shadow-lg">
              <button type="button" aria-label="Open item" title="Open item" class="flex flex-col items-center justify-between w-full p-4 focus:outline-none group bg-gray-100 rounded dark:bg-gray-700">
                <div class="flex items-start gap-2 justify-between">
                    <h3 class="text-base sm:text-lg text-left dark:text-gray-100 text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum?</h3>
                    <svg viewBox="0 0 24 24" class="w-3 min-w-[10px] text-gray-900 dark:text-gray-100 transition-transform duration-300 transform group-focus:rotate-180">
                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                    </svg>
                </div>
                
                <div class="text-left hidden group-focus:flex mt-4">
                    <p class="text-gray-700 dark:text-gray-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum officia ducimus vitae perferendis unde beatae. Pariatur amet perspiciatis recusandae veniam cumque magnam voluptatibus, laborum ut.</p>
                </div>
              </button>
            </div>

            <div class="border rounded shadow-lg">
              <button type="button" aria-label="Open item" title="Open item" class="flex flex-col items-center justify-between w-full p-4 focus:outline-none group bg-gray-100 rounded dark:bg-gray-700">
                <div class="flex items-start gap-2 justify-between">
                    <h3 class="text-base sm:text-lg text-left dark:text-gray-100 text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorum?</h3>
                    <svg viewBox="0 0 24 24" class="w-3 min-w-[10px] text-gray-900 dark:text-gray-100 transition-transform duration-300 transform group-focus:rotate-180">
                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                    </svg>
                </div>
                
                <div class="text-left hidden group-focus:flex mt-4">
                    <p class="text-gray-700 dark:text-gray-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum officia ducimus vitae perferendis unde beatae. Pariatur amet perspiciatis recusandae veniam cumque magnam voluptatibus, laborum ut.</p>
                </div>
              </button>
            </div>

          </div>
        </div>
      </div>

    <!--COMPONENT END-->
    
</body>

<script src="../../src/scripts.js"></script>
</html>
    