<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8 cols features</title>
    <link rel="stylesheet" href="../../src/styles.css">
</head>
<body class="bg-gray-200 flex justify-center items-center min-h-screen relative dark:bg-black">
    <button onclick="changeTheme('code-preview-{{ component.id }}');" aria-label="dark mode button"  class="transition-colors  focus:bg-gray-400 duration-200 ease-in-out p-1 text-gray-200 bg-gray-600 rounded-md hover:text-gray-700 hover:bg-gray-400 absolute top-2 right-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 dark-icon"><path  stroke-linecap="round"  stroke-linejoin="round"  stroke-width="2"  d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 light-icon hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
    </button>
    
    <!--COMPONENT START-->



    <section class="py-40 bg-white dark:bg-gray-700 dark:text-white text-black">
        <div class="relative w-full d-container-content flex flex-col items-center">
            <div class="flex flex-col w-full items-center col-span-12">
                <div class="mb-2"><span class="text-cloud font-bold text-lg">Features </span></div>
                <h2 class="font-normal text-center font-serif text-display-6 md:text-display-5 2xl:text-display-4 mb-2">
                    Lorem ipsum dolor sit amet.
                </h2>
                <p class="font-normal text-center text-body-base md:text-body-lg 2xl:text-body-xl mb-12">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ex ut necessitatibus tenetur quidem impedit maxime totam iure vero, neque ab molestias maiores, saepe expedita.
                </p>
                <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 mx-2">
                    
                    <div to="" aria-label="Lorem, ipsum."
                        class="flex flex-col items-center transition duration-200 p-6 rounded-md bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
                        <h3 class="mb-1 text-center text-body-lg lg:text-body-xl font-bold">Lorem, ipsum.</h3>
                        <p class="text-center text-sm lg:text-base mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim consequuntur nostrum neque assumenda magnam!
                        </p>
                    </div>
                    <div to="" aria-label="Lorem, ipsum."
                        class="flex flex-col items-center transition duration-200 p-6 rounded-md bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
                        <h3 class="mb-1 text-center text-body-lg lg:text-body-xl font-bold">Lorem, ipsum.</h3>
                        <p class="text-center text-sm lg:text-base mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim consequuntur nostrum neque assumenda magnam!
                        </p>
                    </div>
                    <div to="" aria-label="Lorem, ipsum."
                        class="flex flex-col items-center transition duration-200 p-6 rounded-md bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
                        <h3 class="mb-1 text-center text-body-lg lg:text-body-xl font-bold">Lorem, ipsum.</h3>
                        <p class="text-center text-sm lg:text-base mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim consequuntur nostrum neque assumenda magnam!
                        </p>
                    </div>
                    <div to="" aria-label="Lorem, ipsum."
                        class="flex flex-col items-center transition duration-200 p-6 rounded-md bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
                        <h3 class="mb-1 text-center text-body-lg lg:text-body-xl font-bold">Lorem, ipsum.</h3>
                        <p class="text-center text-sm lg:text-base mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim consequuntur nostrum neque assumenda magnam!
                        </p>
                    </div>
                    <div to="" aria-label="Lorem, ipsum."
                        class="flex flex-col items-center transition duration-200 p-6 rounded-md bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
                        <h3 class="mb-1 text-center text-body-lg lg:text-body-xl font-bold">Lorem, ipsum.</h3>
                        <p class="text-center text-sm lg:text-base mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim consequuntur nostrum neque assumenda magnam!
                        </p>
                    </div>
                    <div to="" aria-label="Lorem, ipsum."
                        class="flex flex-col items-center transition duration-200 p-6 rounded-md bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
                        <h3 class="mb-1 text-center text-body-lg lg:text-body-xl font-bold">Lorem, ipsum.</h3>
                        <p class="text-center text-sm lg:text-base mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim consequuntur nostrum neque assumenda magnam!
                        </p>
                    </div>
                    <div to="" aria-label="Lorem, ipsum."
                        class="flex flex-col items-center transition duration-200 p-6 rounded-md bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
                        <h3 class="mb-1 text-center text-body-lg lg:text-body-xl font-bold">Lorem, ipsum.</h3>
                        <p class="text-center text-sm lg:text-base mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim consequuntur nostrum neque assumenda magnam!
                        </p>
                    </div>
                    <div to="" aria-label="Lorem, ipsum."
                        class="flex flex-col items-center transition duration-200 p-6 rounded-md bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
                        <h3 class="mb-1 text-center text-body-lg lg:text-body-xl font-bold">Lorem, ipsum.</h3>
                        <p class="text-center text-sm lg:text-base mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim consequuntur nostrum neque assumenda magnam!
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!--COMPONENT END-->
    
</body>

<script src="../../src/scripts.js"></script>
</html>
    