<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>With contact</title>
    <link rel="stylesheet" href="../../src/styles.css">
</head>
<body class="bg-gray-200 flex justify-center items-center min-h-screen relative dark:bg-black">
    <button onclick="changeTheme('code-preview-{{ component.id }}');" aria-label="dark mode button"  class="transition-colors  focus:bg-gray-400 duration-200 ease-in-out p-1 text-gray-200 bg-gray-600 rounded-md hover:text-gray-700 hover:bg-gray-400 absolute top-2 right-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 dark-icon"><path  stroke-linecap="round"  stroke-linejoin="round"  stroke-width="2"  d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 light-icon hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
    </button>
    
    <!--COMPONENT START-->

<footer class="w-full py-6 px-4 shadow bg-gray-200 text-gray-900 dark:text-gray-100 dark:bg-gray-700 border-t border-gray-700">
    <div class="flex flex-col items-center text-gray-400">
        <div class="w-full grid grid-cols-4">
            <nav class="col-span-4 md:col-span-2 py-4 px-2">
                <ul class="flex flex-wrap justify-center list-none">
                    <li class="p-3 transition duration-100 transform hover:scale-105 hover:text-white"><a
                            aria-current="page" class="" href="/">Home</a></li>
                    <li class="p-3 transition duration-100 transform hover:scale-105 hover:text-white"><a
                            href="">About</a></li>
                    <li class="p-3 transition duration-100 transform hover:scale-105 hover:text-white"><a
                            href="">Contact</a></li>
                    <li class="p-3 transition duration-100 transform hover:scale-105 hover:text-white"><a
                            href="">Pricing</a></li>
                    <li class="p-3 transition duration-100 transform hover:scale-105 hover:text-white"><a
                            href="s">Updates</a></li>
                    <li class="p-3 transition duration-100 transform hover:scale-105 hover:text-white"><a
                            href="">Term of use</a></li>
                </ul>
            </nav>
            <div class="col-span-4 md:col-span-1 px-2 flex flex-col justify-center items-center md:items-end">
                <p class="flex text-xs font-medium tracking-wide"><svg xmlns="http://www.w3.org/2000/svg"
                        class="mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                    </svg><a href="mailto:support@example.com">support@example.com</a></p>
            </div>
        </div>
        <p class="col-span-4 pt-10 text-sm  text-center">©2021, BRAND All Rights Reserved.</p>
    </div>
</footer>

    <!--COMPONENT END-->
    
</body>

<script src="../../src/scripts.js"></script>
</html>
    